h1 {
    text-align: center;
    color: purple;
}

p {
    color: blue;
    text-align: center;
    font-family: Times ;
}

.title {
    background-image: url("blackandwhite.jpg");
    padding: 50px;
    border: 5px solid green;
    /*Credits to Exact Tea for the black and white tile background. The link is http://exactea.com/album/black-and-white-tile.html*/
}

#asia {
    position: relative;
    float: left;
}

#india {
    position: relative;
    float: right;
}
