h1 {
    text-align: center;
    color: darkblue;
}

p {
    color: green;
    text-align: center;
}

 
.title {
    /*background-image: blackandwhite.png;*/
    padding: 50px;
    border: 5px solid green;
}
.asia {
    position: fixed;
}

.india {
    position: fixed;
    margin-left: 00px;
}


